{%  extends "base.html" %}
{% load static %}
{% block content %}
    <h3 class="red">Karfan þín!</h3>
    <br>
    <div class="my_table">
    <table class="table">
    <head>
        <a style="float:right; margin:5px;" class="btn btn-info" href="{% url 'clear_cart' %}" role="button">Hreinsa körfu</a></td>

        <th>Mynd:</th>
        <th>Vara: </th>
        <th>Fjöldi: </th>
        <th>Verð: </th>
        <th>Eyða vöru úr körfu</th>
    </head>
            {% for cart_instance in cart %}
                <tr><td><img id="computer_im" class="computer-img" src="{{ cart_instance.products.product_image_set.first.image }}" /></td><td>{{ cart_instance.products.name }}</td><td>{{ cart_instance.quantity }}</td><td>{{ cart_instance.products.price }}</td>
                <td><a class="btn btn-info" href="{% url 'remove_from_cart' cart_instance.products_id %}" role="button">Eyða úr körfu</a></td>
                </tr>
        {% endfor %}
      <foot>

               <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th><script>
            total_price=0
            new_product = 0
                    {% for cart_instance in cart %}
                        new_product = {{ cart_instance.products.price }} *{{ cart_instance.quantity }}
                        total_price  += new_product
                    {% endfor %}
          document.write("Verð samtals: " + total_price + " kr")
        </script></th>

        </foot>
    </table>


    <a style="float:left; margin:5px;" class="btn btn-default" href="{% url 'products-index' %}" > &#x2190; Halda áfram að versla</a>
     <a style="float:right; margin:5xp;" class="btn btn-default" href="{% url 'checkout-add_personal_info' %}">Ganga frá pöntun</a>

    </div>
    <br>
{% endblock %}
