{%  extends "base.html" %}
{% load static %}
{% block content %}
    <h3 class="red">Karfan þín!</h3>
    <br>
    <div class="my_table">
    <table class="table">
    <head>
        <th>Mynd:</th>
        <th>Vara: </th>
        <th>Fjöldi: </th>
        <th>Verð: </th>
        <th>Eyða vöru úr körfu</th>
    </head>
            {% for product in cart %}
                <tr><td><img id="computer_im" class="computer-img" src="{{ product.products.product_image_set.first.image }}" /></td><td>{{ product.products.name }}</td><td>{{ product.quantity }}</td><td>{{ product.products.price }}</td>
                <td><a class="btn btn-info" href="" role="button">Eyða úr körfu</a></td>
                </tr>
        {% endfor %}
      <foot>

               <td></td>
                <td></td>
                <td></td>
                <th><script>
            total_price=0
            new_product = 0
                    {% for product in cart %}
                        new_product = {{ product.products.price }} *{{ product.quantity }}
                        total_price  += new_product
                    {% endfor %}
          document.write("Verð samtals: " + total_price + " kr")
        </script></th>

        </foot>
    </table>


    <a style="float:left; margin:5px;" class="btn btn-primary" href="{% url 'products-index' %}" > &#x2190; Halda áfram að versla</a>
     <a style="float:right; margin:5xp;" class="btn btn-success" href="{% url 'checkout-index' %}">Ganga frá pöntun</a>

    </div>
    <br>



  <!--  <table class="table">
        <div class="cart-row">
            <th style="flex:2"><img class="row-image" src="{{ product.product_image_set.first.image }}"</th>
            <th style="flex:2"><strong>Vara<strong><p>Vara 1</p></th>
            <th style="flex:1"><strong>Verð<strong><p>2000 kr</p></th>
            <th style="flex:1"><strong>Fjöldi<strong>
                <p class="quantity">2</p>
                 <div class="quantity">
                            <img class="chg-quantity" src="{% static 'image/arrow_up.png' %}">
                            <img class="chg-quantity" src="{% static 'image/arrow_down.png' %}">
                    </div></th>
            <th style="flex:1"><strong>Samtals<strong><p>200kr</p></th>

        </div>
    </table> -->
{% endblock %}
