{% extends "base.html" %}
{% block content %}
    <div class="product_deatails">
    <h1>{{ products.name }}</h1>
    <p>{{ products.description }}</p>
    <h3>Verð: {{ products.price }}kr.</h3>
    {% for product_image in products.product_image_set.all %}
        <img src="{{ product_image.image }}" class="computer-img"/>
    {% endfor %}<br/>
    <a class="btn btn-default" href="/" role="button">Aftur á heimasíðu</a>
    <a style="float: right;" class="btn btn-default" href="{% url 'add_to_cart' products.id %}" role="button">Setja í körfu</a>

    </div>
{% endblock %}
