

.product_deatails{
    display: inline;
}
.things{
    font-size: medium;
    padding-right: 5px;
    text-align: center;
}

.things-right{
    font-size: medium;
    padding-right: 5px;
}
.input-group{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 95%;
}
#search-box.form-control{
    width: 20%;
}


.takkar{
    padding-right: 3px;
    padding-top: 3px;
}
.dropdown{
    position: relative;
    display: inline;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-fluid{
    background-color: #87ADB8 !important;
    height: 175px;
}
.navbar-brand {
    width: 180px;
    height: 140px;
    font-size: larger;
    padding-right: 5px;
    text-align: center;
}
img.logo{
    width: 160px;
    height: 150px;
    padding: 5px;
    position: center;
    padding-bottom: 5px;

}
.navbar {
    position: relative;
    overflow: hidden;
}

.navbar.navbar-default{

}
.navbar-brand {
    position: relative;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
    font-family: 'Raleway';
    font-weight: bold;
}

#navbar-animation {
    position: absolute;
    top: -1000px;
    bottom: -1000px;
    right: 0;
    left: 0;
    background-image: linear-gradient(to right,#EF626C,#84DCCF);
    animation: animate-navbar 3s linear infinite alternate;

}

a {
    color: Black !important;
    text-align: justify;

}

.things:hover {
    background-image: linear-gradient(darkgray , black);
    background-repeat: no-repeat;
    background-position: bottom;
    animation: line-under .5s 1 both;

}
@keyframes line-under {
    0% {
        background-size: 0px 3px;
    }
    100% {
        background-size: 100% 3px;
    }

}
@keyframes animate-navbar {
     0% {
        transform: rotate(0);
    }
    100% {
        transform: rotateZ(180deg);

    }
}

@keyframes circle-around {
    0% {
        background-size: 0 3px,3px 0, 0 3px, 3px 0;
    }
    25% {
        background-size: 100% 3px,3px 0, 0 3px, 3px 0;
    }
    50% {
        background-size: 100% 3px,3px 100%, 0 3px, 3px 0;
    }
    75% {
        background-size: 100% 3px,3px 100%, 100% 3px, 3px 0;
    }
    100% {
        background-size: 100% 3px,3px 100%, 100% 3px, 3px 100%;
    }

}
.computers {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;

}

.computer a {
    color: black !important;
    text-decoration: none;
}
.well.computer{
    width: 380px;
    height: 370px;
}

.computers .computer {
    border-radius: 0;
    margin: 0;
    background-image: none;
    background-color: white;
    text-align: center;

}
.computers .computer:hover {
    background-image: linear-gradient( #87ADB8, #2a96fa), linear-gradient(#87ADB8, #2a96fa),linear-gradient(#87ADB8, #2a96fa),linear-gradient(#87ADB8, #2a96fa);
    background-repeat: no-repeat;
    background-position: left top, right top, right bottom, left bottom;
    background-size: 0 3px, 3px 0,0 3px, 3px 0;
    animation: circle-around .5s ease-in both;
    cursor: pointer;
}


.games {
    display: grid;
    grid-template-columns: auto auto;
}


.game {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 0;
    margin: 0;
}
.games .games-img {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.block {
    display: block;
}

.profile-image {
    position: relative;
    width:  50px;
    height: 50px;
    float: right;
    border-radius: 50%;
}

.footerBox {
    text-indent: 20%;
    vertical-align: top;
    width:49%;
    display: inline-block;
    box-sizing: border-box;
    min-height: 150px;
}

.roundCornerBox {
    background-color: #87ADB8;
    border-radius: 0px;
    border: 0px solid #000000;
}

footer {
    width: 100%;
    margin: auto;
    margin-top: auto;
}
.dropdown-menu{
    font-size: 12px !important;
}


.glyphicon.glyphicon-shopping-cart{
    font-size: 30px;
    border: 1px solid;
    padding: 3px;

}

#header_karfa.glyphicon.glyphicon-shopping-cart{
    font-size: medium;
    border: 0px solid;
    padding: 0px;
}

.computer-img {
    width: 200px;
    padding: 15px;
}

.box-element{
    box-shadow: hsl(0,0%,80%)0,0,16px;
    border-radius: 10px;
    border-color: black;
    padding: 10px;

}

.box{
    border-radius: 0 0 4px 4px;
}





