{%  extends "Base.html" %}
{% block content %}
    <h3 class="red">Captain Console Front page</h3>
    <div class="input-group">
          <input type="search" class="form-control" id="search-box" placeholder="Leita"/>
            <div class="input-group-btn" >
                <button type="button" id="search-btn" class="btn btn-default">Leita</button>
            </div>
        </div >
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Raða eftir:
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="/ordered_by_name">Stafrófsröð</a></li>
        <li><a href="/ordered_by_price">Verði: ódýrast fremst</a></li>
      </ul>
    </div>
    <div class="computers">
    {% for product in products %}
        {% include 'front_page/single_product.html' with product=product %}
    {% endfor %}
    </div>
{% endblock %}

