{%  extends "base.html" %}
{% block content %}
    <h3 class="red">Leikjatölvur</h3>
    <div class="input-group">
          <input type="search" class="form-control" id="search-box" placeholder="Leita"/>
            <div class="input-group-btn" >
                <button type="button" id="search-btn" class="btn btn-default">Leita</button>
            </div>
        </div >
    <div class="computers">
    {% for computer in computers %}
        {% include 'computers/single_computer.html' with computer=computer %}
    {% endfor %}
    </div>
{% endblock %}

