<footer>
    <div class="roundCornerBox">
      <div class="footerBox p20" id="aboutUs">
        <h3>Staðsetning</h3>
        <p>
          Skeifan 1 108 Reykjavík<br />
        </p>
          <h3>Opnunartími</h3>
          <p>
            mánudagar - föstudagar 11:00-17:00<br />
          </p>
          <p>
            laugardagar - sunnudagar 12:00-18:00<br />
        </p>
      </div>
      <div class="footerBox p20" id="contact">
        <h3>Hafa samband</h3>
        <p>
          Sími: 123-4567<br />
            </p>
         <p>
          Netfang: <a href="mailto:contact@staff.inc">contact@staff.inc</a>
          </p>
          <p>Finndu okkur á Facebook <a href="https://www.facebook.com/AppCaptainConso/">hér</a></p><br />

      </div>
    </div>
  </footer>