<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{% url 'products-index' %}">
            <img class="logo" alt="Captain Console" src="https://cdn.discordapp.com/attachments/701569618384519279/707902209664221296/captain-logo.PNG">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="things">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="flase">Leikjatölvur <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/all_computers" >Allar leikjatölvur</a></li>
                <li><a href="/1">Nintendo</a></li>
                <li><a href="/2">Game boy</a></li>
                <li><a href="/3">Playstation</a></li>
                <li><a href="/4">Xbox</a></li>


            </ul>
      </li>
        <li><a class="things" href="/games">Tölvuleikir</a></li>
        {% if user.is_authenticated %}
            <li><a class="things" href="{% url 'logout' %}">Útskrá</a></li>
            <li><a class="things" href="{% url 'my_account' %}">Mínar síður <span class="glyphicon glyphicon-user"></span></a></li>
        {% else %}
            <li><a class="things" href="{% url 'login' %}">Innskráning</a></li>
            <li><a class="things" href="{% url 'register' %}">Nýskráning</a></li>

        {% endif %}
      <li><a class="search" href="/SearchHistory">Leitarsaga</a></li>

      <li class="navbar-nav mr-auto"><a  class="things" href="{% url 'cart-index' %}"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
