{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-6">
        <h4>Kortaupplýsingar</h4>
             <form class="form form-horizontal" action="{% url 'checkout-payment'%}"method="post">
                   {% csrf_token %}
                   {{ form.as_p }}
                    <a style="float:left; margin:5px;" class="btn btn-default" href="{% url 'checkout-add_personal_info' %}" > &#x2190; Til baka</a>
                    <input type="submit"  style="float:end ; margin:5px;" value="Staðfesta upplýsingar"  onclick="enableButton()" class="btn btn-default"/>
                    <div id="keep_going_button">
                        <a style="float:right; margin: 5px;" value="Create" class="btn btn-default" href="{% url 'checkout-review' %}"> Halda áfram</a>
                    </div>
             </form>
    </div>

{% endblock %}
