{% extends "base.html" %}
{% load static %}
{% block content %}
    <form class="form form-horizontal" action="{% url 'checkout-payment'%}"method="post">
                   {% csrf_token %}
                   {{ form }}
                        <a style="float:left; margin:5px;" class="btn btn-primary" href="{% url 'checkout-add_personal_info' %}" > &#x2190; Til baka</a>

                <input type="submit"  style="float:end ; margin:5px;" value="Staðfesta upplýsingar" class="btn btn-success"/>
                    <a style="float:right; margin: 5px;" value="Create" class="btn btn-success" href="{% url 'checkout-review' %}"> Halda áfram</a>

               </form>
{% endblock %}