{% extends "base.html" %}
{% block content %}
    <H1>Leitarsagan þín</H1>
    <h4>Hér getur þú séð þær vörur sem þú hefur nýlega skoðað</h4>
     <br>
        <div class="my_table">
        <table class="table">
        <a style="float:right; margin:5px;" class="btn btn-info" href="{% url 'clear_search_history' %}" role="button">Hreinsa leitarsögu</a></td>
        <head>
        <th>Mynd:</th>
        <th>Heiti vöru: </th>
        <th>Dagsetning: </th>
        <th>Skoða vöru</th>
        <th></th>
        <head>

            {% for click in search_info %}
                <tr><td><img id="search_im" class="computer-img" src="{{ click.product_id.product_image_set.first.image }}" /></td>
                <td>{{ click.product_id.id }}</td> <td>{{ click.date }}<td/> <td><a style="float:right; margin: 5px;" href="{% url 'product_details' click.product_id.id %}" class="btn btn-default" role="button">Skoða vöru </a></td>
                </tr>
    {% endfor %}
</table>
        </div>
    <br>
{% endblock %}