{% extends 'Base.html' %}
{% block content %}
     <div class="account_details">
        <h1> Mínar síður</h1>

        <p> Notandanafn: {{ user.username }}</p>
         <p> Fornafn: {{ user.first_name }}</p>
        <p> Eftirnafn: {{ user.last_name }}</p>

        <div class="my_table">
        <table class="table">
         <th>Notandanafn:</th>
        <th>Eftirnafn:: </th>
        <th>Mynd </th>

         {% for info in form %}
             <tr> <td>{{ info.user.username }} </td> <td> {{ info. }}</td> </tr>
         {% endfor %}

         <a style="float:right; margin: 5px;" class="btn btn-default" href="{% url 'create_user' %}"> Setja inn upplýsingar</a>
        </table>
        </div>

{% endblock %}