{% extends 'Base.html' %}
{% block content %}
     <div class="account_history">
     <form id="form">
                <div id="product-info">
                    <head><h3>Vörur sem þú hefur pantað: </h3> </head>
                    <br>
                    <div class="my_table">
                        <table class="table">
                            <head>
                                <th>Mynd:</th>
                                <th>Vara:</th>
                                <th>Verð:</th>
                                <th>Skoða vöru:</th>
                            </head>
                            {% for order_instance in orders %}
                                <div>
                                {% for product in order_instance %}
                                    <div>
                                    <tr><td><img id="product_im" class="computer-img" src="{{ product.product_image_set.first.image }}"/></td><td>{{product.name }}</td><td>{{ product.price }}kr</td>
                                        <td><a style="float:right; margin: 5px;" href="{% url 'product_details' product.id %}" class="btn btn-default" role="button">Skoða vöru </a></td></tr>
                                    </div>
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </form>
     </div>


{% endblock %}